:root {
  /* Default color variables for text in light mode */
  --main-text-color: #000000;
  --secondary-text-color: #666666;
}

[data-theme="dark"] {
  /* Overridden color variables for text in dark mode */
  --main-text-color: #ffffff;
  --secondary-text-color: #cccccc;
}

/* Buttons Centering */
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hero Banner Styles */
.heroBanner {
  background-image: url('/img/frese1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Title Styles */
.heroTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--main-text-color);
}

/* Subtitle Styles */
.heroSubtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--main-text-color);
}

/* Typing Title Styles */
.typingTitle {
  font-family: 'Fira Code', monospace;
  font-size: 4rem;
  color: var(--main-text-color); /* Adaptive text color */
  border-right: 3px solid var(--main-text-color); /* Adaptive cursor */
  white-space: nowrap;
  overflow: hidden;
}

/* Typing Subtitle Styles */
.typingSubtitle {
  font-family: 'Fira Code', monospace;
  font-size: 2rem;
  color: var(--secondary-text-color); /* Adaptive text color */
  border-right: 3px solid var(--secondary-text-color); /* Adaptive cursor */
  white-space: nowrap;
  overflow: hidden;
}

/* Hero Container */
.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60vh;
}

/* Typing Text */
.typingText {
  font-family: 'Fira Code', monospace;
  color: var(--main-text-color);
  border-right: 1px solid var(--main-text-color);
  white-space: nowrap;
  overflow: hidden;
}

.typingText::after {
  content: '';
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: var(--main-text-color); }
}

/* Social Media Links */
.socialMediaLinks {
  margin-top: 20px;
}

.socialMediaLinks a {
  margin: 0 10px;
  color: var(--main-text-color); /* Adaptive color */
}

p {
  font-size: 1.2rem;
  color: var(--main-text-color);
}

/* Responsive Styles for smaller screens */
@media (max-width: 768px) {
  .typingTitle {
    font-size: 2.5rem;
  }
  
  .typingSubtitle {
    font-size: 1.5rem;
  }
}

.whiteText {
  color: white !important;
}